@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 0;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600px;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.normal:hover {
  background-color: #088178;
  color: #fff;
}
body {
  width: 100%;
}

/* header styles */
.header-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: Arial, sans-serif;
}

.icon-box {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.icon-box i {
    font-size: 18px;
    color: #333;
}

.icon-box span {
    font-size: 14px;
    color: #555;
    letter-spacing: 0.5px;
}


/* Cart count bubble */
.cart-box {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -10px;
    left: 8px;
    background: orange;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
.header-list-nav ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #088178;
  content: "";
}
.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list-icon a:hover,
.header-list-nav ul a.active {
  color: #088178;
}
.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}



body {
background: #fff;
padding: 40px;
}


.title {
text-align: center;
font-size: 36px;
margin-bottom: 5px;
margin-top: 20px;
padding: 50px;
}


.category-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
max-width: 1100px;
margin: auto;
}


.category-card {
text-decoration: none;
background: #f5f5f5;
border-radius: 20px;
text-align: center;
padding: 20px;
transition: transform 0.3s, box-shadow 0.3s;
}


.category-card img {
width: 100%;
border-radius: 16px;
}


.category-card h2 {
margin-top: 20px;
font-size: 28px;
color: #222;
}


.category-card:hover {
transform: translateY(-8px);
box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}


@media (max-width: 900px) {
.category-container {
grid-template-columns: 1fr;
}
}