* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f6f6f6;
  padding: 40px;
}

.checkout-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

/* LEFT FORM */
.checkout-box {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.breadcrumb {
  color: #777;
  font-size: 14px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.row {
  display: flex;
  gap: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0 25px;
}

.checkbox-row input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checkbox-row label {
  font-size: 14px;
  color: #000;
  cursor: pointer;
}


.continue-btn {
  background: #111;
  color: #fff;
  padding: 14px 25px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.continue-btn:hover {
  background: #000;
}

/* RIGHT SUMMARY */
.summary {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
}

.product {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.product img {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  background: #f2f2f2;
}

.product-name {
  flex: 1;
  font-size: 14px;
}

.price {
  font-weight: bold;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  color: #555;
}

.summary-row.total {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.place-order-btn {
  width: 100%;
  margin-top: 20px;
  background: #111;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.place-order-btn:hover {
  background: #000;
}


hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

/* RESPONSIVE */
@media(max-width: 900px) {
  .checkout-container {
    grid-template-columns: 1fr;
  }
}