/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Full page center */
.auth-section {
  min-height: 100vh;          /* Full screen height */
  display: flex;
  align-items: center;        /* Vertical center */
  justify-content: center;    /* Horizontal center */
  background: #ffffff;        /* White page */
}

/* Login box */
.auth-box {
  width: 380px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

/* Title */
.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* Inputs */
.auth-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.auth-box input:focus {
  outline: none;
  border-color: #0a7c72;
}

/* Button */
.auth-box .btn {
  width: 100%;
  padding: 14px;
  background: #0a7c72;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.auth-box .btn:hover {
  background: #066b62;
}

/* Text */
.auth-text {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

.auth-text a {
  color: #0a7c72;
  text-decoration: none;
  font-weight: 500;
}

.auth-text a:hover {
  text-decoration: underline;
}
